<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>
                <button>Done</button>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


