<div>
  <ul>
    {{#each tasks}}
    <div>
      <li>
        <b>Title:</b>
        {{title}}
        <br>
        <b>Description:</b>
        <br>
        {{description}}
      </li>
      <button>Editar</button>
      <button>Eliminar</button>
    </div>
    <br>
    {{/each}}
  </ul>
</div>