<form action="/tasks/add" , method="POST">

  <div>
    <label for="title">Title:</label><br />
    <input type="text" name="title" /><br />
  </div>

  <div>
    <label for="description">Description:</label><br />
    <textarea name="description"></textarea>
  </div>

  <button>Add task</button>

</form>

<div>
  <ul>
    {{#each tasks}}
    <div>
      <li>
        <b>Title: </b>{{title}}<br>
        <b>Description:</b> {{description}}
      </li>
    </div>
    {{/each}}
  </ul>
</div>